$primaryColor: #f8f8f5;
$gold: #b59b07;
$fieldPadding: 10px;
#contactPage{
    // background: var(--backgroundV1);
	background: url('../../images/servicesBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
    .titlesChef {
        font-size: clamp(40px, 2.6vw, 47px);
        font-weight: 500;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        &::before {
            content: "";
            background-color: var(--secondaryColor);
            bottom: 5px;
            height: calc(100% - 20px);
            left: -45px;
            opacity: 0.5;
            position: absolute;
            width: calc(100% + 15px);
            z-index: -1;
        }
    }
    #contactIntro{
        position: absolute;
        top: 17vh;
        width: 50% !important;
        height: fit-content;
    }
    #chefForm{
        position: relative;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        #myForm{
            width: 60% !important;
            height: fit-content;
            background-color: #fdfaf3;
            border: 4px solid var(--secondaryColor);
            position: absolute;
            top: 30vh;
            font-family: var(--body-App-fontFamily);
            font-size: 16px;
            color: #000000;
            // border: 1px solid $gold;
            // box-shadow: 6px 6px 6px #fed800 ;
            z-index: 5;
            label {
                letter-spacing: 0.04em;
            }
            input {
                height: 35px;
                font-family: var(--body-App-fontFamily);
                font-size: 16px;
                color: #000000;
                padding: $fieldPadding;
                &:focus-visible{
                    outline-width: 0px;
                    background-color: transparent;
                }
                &.inputText{
                    border: none;
                    border-bottom: 1px solid $gold;
                }
                background-color: #fff;
            }
            select{
                border: 1px solid $gold;
                background-color: #fff;
                color: #000000;
                font-family: var(--body-App-fontFamily);
                font-size: 16px;
                height: 35px;
                // padding: $fieldPadding;
                &:focus-visible{
                    border: 1px solid $gold !important;
                    outline-width: 0px;
                }
                &.inputText{
                    border: 1px solid $gold !important;
                }
            }

            textarea{
                background-color: #fff;
                border: 1px solid $gold;
                font-family: var(--body-App-fontFamily);
                font-size: 16px;
                padding: 5px;
                resize: none;
                padding: $fieldPadding;
                &:focus-visible{
                    outline-width: 0px;
                    border: 1px solid $gold;
                }
            }
            button[type=submit] {
                color: #fff !important;
            }
        }
    }
}


@media only screen and (min-width: 1301px) and (max-width: 1400px) {

}
@media only screen and (max-width: 1361px) {
 
}
@media only screen and (max-width: 980px) {
    #contactPage{

        #chefForm{
            margin-top: 0px;
            height: 100dvh;
            padding: 20px !important;
            flex-direction: column;
            #contactIntro{
                position: relative;
                top: 0px;
                display: flex;
                width: 100% !important;
                text-align: center;
                justify-content: left !important;
                .titlesChef {
                    font-size: clamp(24px, 2.6vw, 47px);
                    font-weight: 500;
                    letter-spacing: 0.01em;
                    margin-bottom: 0px;
                    margin-left: 30px;
                    &::before {
                        content: "";
                        background-color: var(--secondaryColor);
                        bottom: 5px;
                        height: calc(100% - 10px);
                        left: -25px;
                        opacity: 0.5;
                        position: absolute;
                        width: calc(100% + 15px);
                        z-index: -1;
                    }
                }
            }
            #myForm{
                width: 100% !important;
                height: fit-content;
                background-color: #fdfaf3;
                border: 2px solid var(--secondaryColor);
                position: relative;
                top: 0vh;
                font-family: var(--body-App-fontFamily);
                font-size: 16px;
                color: #000000;
                z-index: 5;
                gap: 15px;
                div:not(.field) {
                    margin: 0px !important;
                    gap: 10px;
                }
                div.flex {
                    margin: 0px !important;
                    flex-direction: column;
                }
                .col-6 {
                    width: 100% !important;
                    margin: 0px !important;
                }
                input, select, textarea {
                    margin-bottom: 0px !important;
                    border-radius: 0px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 1080px) { 
}