$primaryColor: #f8f8f5;
$gold: #b59b07;
$fieldPadding: 10px;
#contactPage{
    // background: var(--backgroundV1);
	background: url('../../images/servicesBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;


    #chefForm{
        position: relative;
        height: calc(100dvh - 14dvh);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 14dvh;
        padding: 40px;
        
        #contactWrapper {
            height: 100%;
            display: flex;
            margin: 50px;
            align-items: center;
            border: 2px solid var(--secondaryColor);
            box-shadow: -10px 10px #ffffff28;
            // border-radius: 8px;
            overflow: hidden;

            .left {
                height: 100%;
                background-image: url('https://res.cloudinary.com/drdrs6pdq/image/upload/v1759880317/Niko/new_materials/chef-pic-26_vyi7aa.jpg');
                background-position: center;
                background-size: cover ;
                #contactIntro{
                    position: absolute;
                    top: 10%;
                    width: 50% !important;
                    height: fit-content;
                    .titlesChef {
                        font-size: clamp(40px, 2.6vw, 47px);
                        font-weight: 00;
                        letter-spacing: 0.01em;
                        margin-bottom: 10px;
                        
                        &::before {
                            content: "";
                            background-color: black;
                            bottom: 0px;
                            border-left: 1px solid var(--secondaryColor);
                            border-bottom: 1px solid var(--secondaryColor);
                            height: 110%;
                            left: -15%;
                            opacity: 1;
                            position: absolute;
                            width: 115%;
                            z-index: -1;
                        }
                    }
                }
            }
            .right {
                height: 100%;
                background: var(--backgroundV1);
                #myForm{
                    width: 100% !important;
                    height: 100%;
                    background-color: #ffffff;
                    font-family: var(--body-App-fontFamily);
                    font-size: 16px;
                    color: #000000;
                    z-index: 5;
                    label {
                        font-size: 18px;
                        letter-spacing: 0.02em;
                        font-weight: 500;
                    }
                    input {
                        background-color: #fff;
                        color: #000000;
                        font-family: var(--body-App-fontFamily);
                        font-size: 16px;
                        height: 35px;
                        padding: $fieldPadding;
                        &:focus-visible{
                            outline-width: 0px;
                            background-color: transparent;
                        }
                        &.inputText{
                            border-radius: 2px;
                            border: 1px solid $gold;
                        }
                    }
                    select{
                        border: 1px solid $gold;
                        background-color: #fff;
                        color: #000000;
                        font-family: var(--body-App-fontFamily);
                        font-size: 16px;
                        height: 35px;
                        border-radius: 2px;
                        // padding: $fieldPadding;
                        &:focus-visible{
                            border: 1px solid $gold !important;
                            outline-width: 0px;
                        }
                        &.inputText{
                            border: 1px solid $gold !important;
                            border-radius: 2px;
                        }
                    }
                    
                    textarea{
                        background-color: #fff;
                        border: 1px solid $gold;
                        border-radius: 2px;
                        font-family: var(--body-App-fontFamily);
                        font-size: 16px;
                        padding: 5px;
                        resize: none;
                        padding: $fieldPadding;
                        &:focus-visible{
                            outline-width: 0px;
                            border: 1px solid $gold;
                        }
                    }
                    button[type=submit] {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1301px) and (max-width: 1400px) {

}
@media only screen and (max-width: 1361px) {
 
}
@media only screen and (max-width: 980px) {
    #contactPage{

        #chefForm{
            flex-direction: column;
            height: 100dvh;
            margin-top: 0px;
            padding: 20px !important;
            width: 100vw;
            #contactWrapper {
                border: none;
                box-shadow: none;
                flex-direction: column;
                gap: 10px;
                width: 100vw;
                height: 100dvh !important;
                overflow: visible;
                .left {
                    background-image: none;
                    width: 100% !important;
                    #contactIntro{
                        position: relative;
                        top: 0px;
                        display: flex;
                        width: 100% !important;
                        text-align: center;
                        justify-content: left !important;
                        .titlesChef {
                            font-size: clamp(24px, 2.6vw, 47px);
                            font-weight: 500;
                            letter-spacing: 0.01em;
                            margin-bottom: 0px;
                            margin-left: 30px;
                            &::before {
                                content: "";
                                background-color: var(--secondaryColor);
                                bottom: 5px;
                                height: calc(100% - 10px);
                                left: -25px;
                                opacity: 0.5;
                                position: absolute;
                                width: calc(100% + 15px);
                                z-index: -1;
                            }
                        }
                    }
                }
                .right {
                    width: 100% !important;
                    #myForm{
                        width: 100% !important;
                        height: fit-content;
                        background-color: #ffffff;
                        border: 1px solid var(--secondaryColor);
                        position: relative;
                        top: 0vh;
                        font-family: var(--body-App-fontFamily);
                        font-size: 16px;
                        color: #000000;
                        z-index: 5;
                        gap: 15px;
                        div:not(.field) {
                            margin: 0px !important;
                            gap: 10px;
                        }
                        div.flex {
                            margin: 0px !important;
                            flex-direction: column;
                        }
                        .col-6 {
                            width: 100% !important;
                            margin: 0px !important;
                        }
                        input, select, textarea {
                            margin-bottom: 0px !important;
                            border-radius: 0px !important;
                        }
                    }
                }
            }

        }
    }
}
@media only screen and (max-width: 1080px) { 
}