#contactPage {
  background: url("../../images/servicesBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#contactPage .titlesChef {
  font-size: clamp(40px, 2.6vw, 47px);
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
#contactPage .titlesChef::before {
  content: "";
  background-color: var(--secondaryColor);
  bottom: 5px;
  height: calc(100% - 20px);
  left: -45px;
  opacity: 0.5;
  position: absolute;
  width: calc(100% + 15px);
  z-index: -1;
}
#contactPage #contactIntro {
  position: absolute;
  top: 17vh;
  width: 50% !important;
  height: -moz-fit-content;
  height: fit-content;
}
#contactPage #chefForm {
  position: relative;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}
#contactPage #chefForm #myForm {
  width: 60% !important;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fdfaf3;
  border: 4px solid var(--secondaryColor);
  position: absolute;
  top: 30vh;
  font-family: var(--body-App-fontFamily);
  font-size: 16px;
  color: #000000;
  z-index: 5;
}
#contactPage #chefForm #myForm label {
  letter-spacing: 0.04em;
}
#contactPage #chefForm #myForm input {
  height: 35px;
  font-family: var(--body-App-fontFamily);
  font-size: 16px;
  color: #000000;
  padding: 10px;
  background-color: #fff;
}
#contactPage #chefForm #myForm input:focus-visible {
  outline-width: 0px;
  background-color: transparent;
}
#contactPage #chefForm #myForm input.inputText {
  border: none;
  border-bottom: 1px solid #b59b07;
}
#contactPage #chefForm #myForm select {
  border: 1px solid #b59b07;
  background-color: #fff;
  color: #000000;
  font-family: var(--body-App-fontFamily);
  font-size: 16px;
  height: 35px;
}
#contactPage #chefForm #myForm select:focus-visible {
  border: 1px solid #b59b07 !important;
  outline-width: 0px;
}
#contactPage #chefForm #myForm select.inputText {
  border: 1px solid #b59b07 !important;
}
#contactPage #chefForm #myForm textarea {
  background-color: #fff;
  border: 1px solid #b59b07;
  font-family: var(--body-App-fontFamily);
  font-size: 16px;
  padding: 5px;
  resize: none;
  padding: 10px;
}
#contactPage #chefForm #myForm textarea:focus-visible {
  outline-width: 0px;
  border: 1px solid #b59b07;
}
#contactPage #chefForm #myForm button[type=submit] {
  color: #fff !important;
}

@media only screen and (max-width: 980px) {
  #contactPage #chefForm {
    margin-top: 0px;
    height: 100dvh;
    padding: 20px !important;
    flex-direction: column;
  }
  #contactPage #chefForm #contactIntro {
    position: relative;
    top: 0px;
    display: flex;
    width: 100% !important;
    text-align: center;
    justify-content: left !important;
  }
  #contactPage #chefForm #contactIntro .titlesChef {
    font-size: clamp(21px, 2.6vw, 47px);
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-bottom: 0px;
    margin-left: 30px;
  }
  #contactPage #chefForm #contactIntro .titlesChef::before {
    content: "";
    background-color: var(--secondaryColor);
    bottom: 5px;
    height: calc(100% - 10px);
    left: -25px;
    opacity: 0.5;
    position: absolute;
    width: calc(100% + 15px);
    z-index: -1;
  }
  #contactPage #chefForm #myForm {
    width: 100% !important;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fdfaf3;
    border: 2px solid var(--secondaryColor);
    position: relative;
    top: 0vh;
    font-family: var(--body-App-fontFamily);
    font-size: 16px;
    color: #000000;
    z-index: 5;
    gap: 15px;
  }
  #contactPage #chefForm #myForm div:not(.field) {
    margin: 0px !important;
    gap: 10px;
  }
  #contactPage #chefForm #myForm div.flex {
    margin: 0px !important;
    flex-direction: column;
  }
  #contactPage #chefForm #myForm .col-6 {
    width: 100% !important;
    margin: 0px !important;
  }
  #contactPage #chefForm #myForm input, #contactPage #chefForm #myForm select, #contactPage #chefForm #myForm textarea {
    margin-bottom: 0px !important;
  }
  #contactPage #chefForm #myForm select {
    border: 1px solid #b59b07;
    background-color: #fff;
    color: #000000;
    font-family: var(--body-App-fontFamily);
    font-size: 16px;
    height: 35px;
  }
  #contactPage #chefForm #myForm select:focus-visible {
    border: 1px solid #b59b07 !important;
    outline-width: 0px;
  }
  #contactPage #chefForm #myForm select.inputText {
    border: 1px solid #b59b07 !important;
  }
}/*# sourceMappingURL=contact-chef.css.map */