$primaryColor: #f8f8f5;
$gold: #b59b07;
$background: linear-gradient(180deg, var(--darkBlueColor), #000000);
$shadowInset: #ffffff41;

#servicesPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 14vh;
    background: var(--backgroundV1);
    #sectionHero{
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: calc(100vh - 14vh); 
        justify-content: center;
        // min-width: fit-content;
        position: relative;
        width: 100% !important;
        #imgHero {
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 0px;
            height: 100vh;
            height: 100dvh;
            margin-top: 5vh;
            margin-bottom: 5vh;
            width: 100%;
            filter: grayscale(1);
        }
    }
    #allServices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        article.singleService {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            padding: 50px 0;
            width: 100%;
            .singleServiceWrapper {
                float: left;
                margin: 0 auto;
                max-width: 85%;
                padding-left: .9375rem;
                padding-right: .9375rem;
                position: relative;
                width: 100%;
                margin-left: 150px;
                margin-right: 0px;
                transition: all 0.5s ease-in-out;
                &.in-view {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                &.reverse {
                    margin-left: 0px;
                    margin-right: -150px;
                    &.in-view {
                        margin-right: 0px;  
                        margin-left: 0px;
                    }
                    .serviceVideoContainer { float: right; }
                    .serviceTextBx {
                        left: 0;
                        margin-left: -50px;
                        transition: all 0.5s ease-in-out;
                        &.in-view {
                            margin-left: 0px;
                        }
                    }

                }
                .serviceVideoContainer {
                    position: relative;
                    width: 960px;
                    height: 540px;

                    video {
                        border-radius: 4px;
                        height: 540px;
                        object-fit: cover;
                        width: 960px;
                    }
                    img {
                        border-radius: 4px;
                        height: 540px;
                        object-fit: cover;
                        width: 960px;
                        &.hoverImg {display: none; }
                    }
                    &:hover {
                        img.defaultImg {display: none; }
                        img.hoverImg {display: block; }
                    }
                }
                .serviceTextBx {
                    border: 1px solid var(--secondaryColor);
                    border-radius: 8px;
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    gap: 35px;
                    margin-right: 100px;
                    padding: 20px 30px;
                    position: absolute;
                    right: 0;
                    top: 50%; 
                    transform: translateY(-50%);
                    transition: all 0.5s ease-in-out; 
                    width: 22.1875rem;
                    &.in-view {
                        margin-right: 0px;
                    }
                    h6.serviceBxTitle {
                        font-size: 32px;
                        text-align: center;
                    }
    
                    p.serviceBxDescription {
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 2%;
                        margin: 0px;
                    }
                    button.serviceBxButton {
                        background-color: #D3C896;
                        color: #ffffff !important;
                        border: 0px solid var(--secondaryColor);
                        width: 100%;
                        height: 35px;
                        font-size: 20px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            border: 1px solid var(--secondaryColor);
                            box-shadow: inset 3px 3px 5px rgba(25, 25, 25, 0.15),
                                        inset -3px -3px 5px rgba(25, 25, 25, 0.15);
                            cursor: pointer;
                            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    #servicesPage {
        padding-top: 0vh;
        background-position: center;
        #sectionHero{
            height: 0dvh !important;
            #imgHero {
                background-size: contain;
                border-radius: 0px;
            }
        }
        #allServices {
            padding-top: 70px !important;
            padding-bottom: 20px !important;
            gap: 20px;
            width: 100%;
            article.singleService {
                padding: 10px !important;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 1px solid var(--secondaryColor);
                .singleServiceWrapper {
                    max-width: 100%;
                    width: 100%;
                    margin: 0 auto;
                    margin-left: 0px;
                    margin-right: 0px;
                    float: none;
                    padding-left: 0px;
                    padding-right: 0px;
                    &.in-view {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                    &.reverse {
                        margin-left: 0px;
                        margin-right: 0px;
                        &.in-view {
                            margin-right: 0px;  
                            margin-left: 0px;
                        }
                        .serviceVideoContainer { float: right; }
                        .serviceTextBx {
                            left: 0;
                            margin-left: 0px;
                            transition: all 0.5s ease-in-out;
                            &.in-view {
                                margin-left: 0px;
                            }
                        }

                    }
                    .serviceVideoContainer {
                        position: relative;
                        width: 100% !important;
                        height: fit-content;

                        video {
                            border-radius: 4px;
                            height: auto !important;
                            object-fit: cover;
                            width: 100% !important;
                        }
                        // *
                        img {
                            border-radius: 4px;
                            height: auto !important;
                            object-fit: cover;
                            width: 100% !important;
                            &.hoverImg {display: none; }
                        }
                        &:hover {
                            img.defaultImg {display: flex; }
                            img.hoverImg {display: none; }
                        }
                    }
                    .serviceTextBx {
                        margin-right: 0px;
                        top: 0%; 
                        width: 100%;
                        transform: translateY(0%);
                        border-radius: 0px;
                        border: 0px solid var(--secondaryColor);
                        right: 0;
                        position: relative;
                        &.in-view {
                            margin-right: 0px;
                        }
                        h6.serviceBxTitle {
                            font-size: 32px;
                            text-align: center;
                        }
        
                        p.serviceBxDescription {
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: 2%;
                            margin: 0px;
                        }
                        button.serviceBxButton {
                            background-color: #D3C896;
                            border: 0px solid var(--secondaryColor);
                            width: 100%;
                            height: 35px;
                            font-size: 20px;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                border: 1px solid var(--secondaryColor);
                                box-shadow: inset 3px 3px 5px rgba(25, 25, 25, 0.15),
                                            inset -3px -3px 5px rgba(25, 25, 25, 0.15);
                                cursor: pointer;
                                filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
                            }
                        }
                    }
                }
            }
        }
        footer { 
            flex-direction: column-reverse;
            position: relative;
            padding-top: 15px !important;
            padding-bottom: 40px !important;
            width: 100%;
            height: fit-content;
            gap: 30px;
            img {
                width: 70%;
                height: auto !important;
            }
            #webcraftLink {
                position: absolute;
                bottom: 20px;
                font-size: 14px !important;
            }
            
        }
    
    }
}
@media only screen and (max-width: 980px){}
@media only screen and (max-width: 640px){}
@media only screen and (min-width: 1551px) {}
@media only screen and (min-width: 1451px) and (max-width: 1650px) {}
@media only screen and (max-width: 1451px) {}
@media only screen and (min-width: 701px) and (max-width: 1200px) {}
@media only screen and (max-width: 1100px) {}