/* =============================================================================== */
/* =============================================================================== */
/* === LAYOUT RULES === */
/* ============================== */
/* === FLEX === */
@media (min-width:1px) {
  /* Orientation */
  .flex-column {
    flex-direction: column !important;
  }
  .flex-columnReverse {
    flex-direction: column-reverse !important;
  }
  .flex-row {
    flex-direction: row !important;
  }
  .flex-rowReverse {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100 {
    flex-basis: 100% !important;
  }
  .flex-wrap {
    flex-wrap: wrap !important;
  }
  .flex-noShrink {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex {
    display: flex;
  }
  .flex-override {
    display: flex !important;
  }
  .flex-fillSpace {
    flex: 1 1 auto;
  }
  .flex-order-0 {
    order: 0;
  }
  .flex-order-1 {
    order: 1;
  }
  .flex-order-2 {
    order: 2;
  }
  .flex-order-3 {
    order: 3;
  }
  .flex-order-4 {
    order: 4;
  }
  .flex-order-5 {
    order: 5;
  }
  .flex-order-6 {
    order: 6;
  }
  *[class^=flex].flex-column > .col-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}
@media (min-width:1px) {
  /* Orientation */
  .flex-column-xs {
    flex-direction: column !important;
  }
  .flex-columnReverse-xs {
    flex-direction: column-reverse !important;
  }
  .flex-row-xs {
    flex-direction: row !important;
  }
  .flex-rowReverse-xs {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-xs {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-xs {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-xs {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-xs {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-xs {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-xs {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-xs {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-xs {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-xs {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-xs {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-xs {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-xs {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-xs {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-xs {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-xs {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-xs {
    flex-basis: 100% !important;
  }
  .flex-wrap-xs {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-xs {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-xs {
    display: flex;
  }
  .flex-override-xs {
    display: flex !important;
  }
  .flex-fillSpace-xs {
    flex: 1 1 auto;
  }
  .flex-order-0-xs {
    order: 0;
  }
  .flex-order-1-xs {
    order: 1;
  }
  .flex-order-2-xs {
    order: 2;
  }
  .flex-order-3-xs {
    order: 3;
  }
  .flex-order-4-xs {
    order: 4;
  }
  .flex-order-5-xs {
    order: 5;
  }
  .flex-order-6-xs {
    order: 6;
  }
  *[class^=flex].flex-column > .col-xs-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-xs-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-xs-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-xs-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-xs-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}
@media (max-width: 767px) {
  /* Orientation */
  .flex-column-xs-down {
    flex-direction: column !important;
  }
  .flex-columnReverse-xs-down {
    flex-direction: column-reverse !important;
  }
  .flex-row-xs-down {
    flex-direction: row !important;
  }
  .flex-rowReverse-xs-down {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-xs-down {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-xs-down {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-xs-down {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-xs-down {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-xs-down {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-xs-down {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-xs-down {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-xs-down {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-xs-down {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-xs-down {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-xs-down {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-xs-down {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-xs-down {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-xs-down {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-xs-down {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-xs-down {
    flex-basis: 100% !important;
  }
  .flex-wrap-xs-down {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-xs-down {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-xs-down {
    display: flex;
  }
  .flex-override-xs-down {
    display: flex !important;
  }
  .flex-fillSpace-xs-down {
    flex: 1 1 auto;
  }
  .flex-order-0-xs-down {
    order: 0;
  }
  .flex-order-1-xs-down {
    order: 1;
  }
  .flex-order-2-xs-down {
    order: 2;
  }
  .flex-order-3-xs-down {
    order: 3;
  }
  .flex-order-4-xs-down {
    order: 4;
  }
  .flex-order-5-xs-down {
    order: 5;
  }
  .flex-order-6-xs-down {
    order: 6;
  }
  *[class^=flex].flex-column > .col-xs-down-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-xs-down-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-down-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-down-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-xs-down-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-down-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-down-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-xs-down-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-down-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-xs-down-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-xs-down-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-xs-down-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-xs-down-12 {
    width: 100%;
  }
  .col-xs-down-11 {
    width: 91.66666667%;
  }
  .col-xs-down-10 {
    width: 83.33333333%;
  }
  .col-xs-down-9 {
    width: 75%;
  }
  .col-xs-down-8 {
    width: 66.66666667%;
  }
  .col-xs-down-7 {
    width: 58.33333333%;
  }
  .col-xs-down-6 {
    width: 50%;
  }
  .col-xs-down-5 {
    width: 41.66666667%;
  }
  .col-xs-down-4 {
    width: 33.33333333%;
  }
  .col-xs-down-3 {
    width: 25%;
  }
  .col-xs-down-2 {
    width: 16.66666667%;
  }
  .col-xs-down-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 768px) {
  /* Orientation */
  .flex-column-sm {
    flex-direction: column !important;
  }
  .flex-columnReverse-sm {
    flex-direction: column-reverse !important;
  }
  .flex-row-sm {
    flex-direction: row !important;
  }
  .flex-rowReverse-sm {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-sm {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-sm {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-sm {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-sm {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-sm {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-sm {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-sm {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-sm {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-sm {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-sm {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-sm {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-sm {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-sm {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-sm {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-sm {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-sm {
    flex-basis: 100% !important;
  }
  .flex-wrap-sm {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-sm {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-sm {
    display: flex;
  }
  .flex-override-sm {
    display: flex !important;
  }
  .flex-fillSpace-sm {
    flex: 1 1 auto;
  }
  .flex-order-0-sm {
    order: 0;
  }
  .flex-order-1-sm {
    order: 1;
  }
  .flex-order-2-sm {
    order: 2;
  }
  .flex-order-3-sm {
    order: 3;
  }
  .flex-order-4-sm {
    order: 4;
  }
  .flex-order-5-sm {
    order: 5;
  }
  .flex-order-6-sm {
    order: 6;
  }
  *[class^=flex].flex-column > .col-sm-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-sm-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-sm-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-sm-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-sm-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (max-width: 999px) {
  /* Orientation */
  .flex-column-sm-down {
    flex-direction: column !important;
  }
  .flex-columnReverse-sm-down {
    flex-direction: column-reverse !important;
  }
  .flex-row-sm-down {
    flex-direction: row !important;
  }
  .flex-rowReverse-sm-down {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-sm-down {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-sm-down {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-sm-down {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-sm-down {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-sm-down {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-sm-down {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-sm-down {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-sm-down {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-sm-down {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-sm-down {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-sm-down {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-sm-down {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-sm-down {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-sm-down {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-sm-down {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-sm-down {
    flex-basis: 100% !important;
  }
  .flex-wrap-sm-down {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-sm-down {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-sm-down {
    display: flex;
  }
  .flex-override-sm-down {
    display: flex !important;
  }
  .flex-fillSpace-sm-down {
    flex: 1 1 auto;
  }
  .flex-order-0-sm-down {
    order: 0;
  }
  .flex-order-1-sm-down {
    order: 1;
  }
  .flex-order-2-sm-down {
    order: 2;
  }
  .flex-order-3-sm-down {
    order: 3;
  }
  .flex-order-4-sm-down {
    order: 4;
  }
  .flex-order-5-sm-down {
    order: 5;
  }
  .flex-order-6-sm-down {
    order: 6;
  }
  *[class^=flex].flex-column > .col-sm-down-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-sm-down-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-down-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-down-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-sm-down-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-down-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-down-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-sm-down-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-down-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-sm-down-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-sm-down-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-sm-down-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-sm-down-12 {
    width: 100%;
  }
  .col-sm-down-11 {
    width: 91.66666667%;
  }
  .col-sm-down-10 {
    width: 83.33333333%;
  }
  .col-sm-down-9 {
    width: 75%;
  }
  .col-sm-down-8 {
    width: 66.66666667%;
  }
  .col-sm-down-7 {
    width: 58.33333333%;
  }
  .col-sm-down-6 {
    width: 50%;
  }
  .col-sm-down-5 {
    width: 41.66666667%;
  }
  .col-sm-down-4 {
    width: 33.33333333%;
  }
  .col-sm-down-3 {
    width: 25%;
  }
  .col-sm-down-2 {
    width: 16.66666667%;
  }
  .col-sm-down-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1000px) {
  /* Orientation */
  .flex-column-md {
    flex-direction: column !important;
  }
  .flex-columnReverse-md {
    flex-direction: column-reverse !important;
  }
  .flex-row-md {
    flex-direction: row !important;
  }
  .flex-rowReverse-md {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-md {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-md {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-md {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-md {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-md {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-md {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-md {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-md {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-md {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-md {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-md {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-md {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-md {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-md {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-md {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-md {
    flex-basis: 100% !important;
  }
  .flex-wrap-md {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-md {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-md {
    display: flex;
  }
  .flex-override-md {
    display: flex !important;
  }
  .flex-fillSpace-md {
    flex: 1 1 auto;
  }
  .flex-order-0-md {
    order: 0;
  }
  .flex-order-1-md {
    order: 1;
  }
  .flex-order-2-md {
    order: 2;
  }
  .flex-order-3-md {
    order: 3;
  }
  .flex-order-4-md {
    order: 4;
  }
  .flex-order-5-md {
    order: 5;
  }
  .flex-order-6-md {
    order: 6;
  }
  *[class^=flex].flex-column > .col-md-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-md-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-md-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-md-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-md-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-md-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-md-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-md-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-md-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-md-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-md-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-md-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (max-width: 1199px) {
  /* Orientation */
  .flex-column-md-down {
    flex-direction: column !important;
  }
  .flex-columnReverse-md-down {
    flex-direction: column-reverse !important;
  }
  .flex-row-md-down {
    flex-direction: row !important;
  }
  .flex-rowReverse-md-down {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-md-down {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-md-down {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-md-down {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-md-down {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-md-down {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-md-down {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-md-down {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-md-down {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-md-down {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-md-down {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-md-down {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-md-down {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-md-down {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-md-down {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-md-down {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-md-down {
    flex-basis: 100% !important;
  }
  .flex-wrap-md-down {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-md-down {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-md-down {
    display: flex;
  }
  .flex-override-md-down {
    display: flex !important;
  }
  .flex-fillSpace-md-down {
    flex: 1 1 auto;
  }
  .flex-order-0-md-down {
    order: 0;
  }
  .flex-order-1-md-down {
    order: 1;
  }
  .flex-order-2-md-down {
    order: 2;
  }
  .flex-order-3-md-down {
    order: 3;
  }
  .flex-order-4-md-down {
    order: 4;
  }
  .flex-order-5-md-down {
    order: 5;
  }
  .flex-order-6-md-down {
    order: 6;
  }
  *[class^=flex].flex-column > .col-md-down-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-md-down-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-md-down-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-md-down-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-md-down-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-md-down-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-md-down-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-md-down-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-md-down-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-md-down-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-md-down-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-md-down-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-md-down-12 {
    width: 100%;
  }
  .col-md-down-11 {
    width: 91.66666667%;
  }
  .col-md-down-10 {
    width: 83.33333333%;
  }
  .col-md-down-9 {
    width: 75%;
  }
  .col-md-down-8 {
    width: 66.66666667%;
  }
  .col-md-down-7 {
    width: 58.33333333%;
  }
  .col-md-down-6 {
    width: 50%;
  }
  .col-md-down-5 {
    width: 41.66666667%;
  }
  .col-md-down-4 {
    width: 33.33333333%;
  }
  .col-md-down-3 {
    width: 25%;
  }
  .col-md-down-2 {
    width: 16.66666667%;
  }
  .col-md-down-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  /* Orientation */
  .flex-column-lg {
    flex-direction: column !important;
  }
  .flex-columnReverse-lg {
    flex-direction: column-reverse !important;
  }
  .flex-row-lg {
    flex-direction: row !important;
  }
  .flex-rowReverse-lg {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-lg {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-lg {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-lg {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-lg {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-lg {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-lg {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-lg {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-lg {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-lg {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-lg {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-lg {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-lg {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-lg {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-lg {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-lg {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-lg {
    flex-basis: 100% !important;
  }
  .flex-wrap-lg {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-lg {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-lg {
    display: flex;
  }
  .flex-override-lg {
    display: flex !important;
  }
  .flex-fillSpace-lg {
    flex: 1 1 auto;
  }
  .flex-order-0-lg {
    order: 0;
  }
  .flex-order-1-lg {
    order: 1;
  }
  .flex-order-2-lg {
    order: 2;
  }
  .flex-order-3-lg {
    order: 3;
  }
  .flex-order-4-lg {
    order: 4;
  }
  .flex-order-5-lg {
    order: 5;
  }
  .flex-order-6-lg {
    order: 6;
  }
  *[class^=flex].flex-column > .col-lg-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-lg-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-lg-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-lg-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-lg-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media (max-width: 1399px) {
  /* Orientation */
  .flex-column-lg-down {
    flex-direction: column !important;
  }
  .flex-columnReverse-lg-down {
    flex-direction: column-reverse !important;
  }
  .flex-row-lg-down {
    flex-direction: row !important;
  }
  .flex-rowReverse-lg-down {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-lg-down {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-lg-down {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-lg-down {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-lg-down {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-lg-down {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-lg-down {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-lg-down {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-lg-down {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-lg-down {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-lg-down {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-lg-down {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-lg-down {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-lg-down {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-lg-down {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-lg-down {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-lg-down {
    flex-basis: 100% !important;
  }
  .flex-wrap-lg-down {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-lg-down {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-lg-down {
    display: flex;
  }
  .flex-override-lg-down {
    display: flex !important;
  }
  .flex-fillSpace-lg-down {
    flex: 1 1 auto;
  }
  .flex-order-0-lg-down {
    order: 0;
  }
  .flex-order-1-lg-down {
    order: 1;
  }
  .flex-order-2-lg-down {
    order: 2;
  }
  .flex-order-3-lg-down {
    order: 3;
  }
  .flex-order-4-lg-down {
    order: 4;
  }
  .flex-order-5-lg-down {
    order: 5;
  }
  .flex-order-6-lg-down {
    order: 6;
  }
  *[class^=flex].flex-column > .col-lg-down-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-lg-down-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-down-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-down-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-lg-down-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-down-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-down-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-lg-down-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-down-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-lg-down-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-lg-down-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-lg-down-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-lg-down-12 {
    width: 100%;
  }
  .col-lg-down-11 {
    width: 91.66666667%;
  }
  .col-lg-down-10 {
    width: 83.33333333%;
  }
  .col-lg-down-9 {
    width: 75%;
  }
  .col-lg-down-8 {
    width: 66.66666667%;
  }
  .col-lg-down-7 {
    width: 58.33333333%;
  }
  .col-lg-down-6 {
    width: 50%;
  }
  .col-lg-down-5 {
    width: 41.66666667%;
  }
  .col-lg-down-4 {
    width: 33.33333333%;
  }
  .col-lg-down-3 {
    width: 25%;
  }
  .col-lg-down-2 {
    width: 16.66666667%;
  }
  .col-lg-down-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1400px) {
  /* Orientation */
  .flex-column-xl {
    flex-direction: column !important;
  }
  .flex-columnReverse-xl {
    flex-direction: column-reverse !important;
  }
  .flex-row-xl {
    flex-direction: row !important;
  }
  .flex-rowReverse-xl {
    flex-direction: row-reverse !important;
  }
  /* Justification */
  .flex-justifyContent-start-xl {
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
  }
  .flex-justifyContent-spaceAround-xl {
    justify-content: space-around !important;
    -webkit-justify-content: space-around !important;
  }
  .flex-justifyContent-spaceBetween-xl {
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .flex-justifyContent-center-xl {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  .flex-justifyContent-end-xl {
    justify-content: flex-end !important;
    -webkit-justify-content: flex-end !important;
  }
  /* Align Items (affects main-axis) */
  .flex-alignItems-end-xl {
    align-items: flex-end !important;
    -webkit-align-items: flex-end !important;
  }
  .flex-alignItems-center-xl {
    align-items: center !important;
    -webkit-align-items: center !important;
  }
  .flex-alignItems-stretch-xl {
    align-items: stretch !important;
    -webkit-align-items: stretch !important;
  }
  .flex-alignItems-start-xl {
    align-items: flex-start !important;
  }
  /* Align Content (affects cross-axis i.e.overflow) */
  .flex-alignContent-start-xl {
    align-content: flex-start !important;
    -webkit-align-content: flex-start !important;
  }
  .flex-alignContent-center-xl {
    align-content: center !important;
    -webkit-align-content: center !important;
  }
  .flex-alignContent-spaceBetween-xl {
    align-content: space-between !important;
    -webkit-align-content: space-between !important;
  }
  .flex-alignContent-spaceAround-xl {
    align-content: space-around !important;
    -webkit-align-content: space-around !important;
  }
  .flex-alignContent-stretch-xl {
    align-content: stretch !important;
    -webkit-align-content: stretch !important;
  }
  .flex-alignContent-end-xl {
    align-content: flex-end !important;
    -webkit-align-content: flex-end !important;
  }
  /* Misc */
  /* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
  .flex-basis-100-xl {
    flex-basis: 100% !important;
  }
  .flex-wrap-xl {
    flex-wrap: wrap !important;
  }
  .flex-noShrink-xl {
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
  }
  .flex-xl {
    display: flex;
  }
  .flex-override-xl {
    display: flex !important;
  }
  .flex-fillSpace-xl {
    flex: 1 1 auto;
  }
  .flex-order-0-xl {
    order: 0;
  }
  .flex-order-1-xl {
    order: 1;
  }
  .flex-order-2-xl {
    order: 2;
  }
  .flex-order-3-xl {
    order: 3;
  }
  .flex-order-4-xl {
    order: 4;
  }
  .flex-order-5-xl {
    order: 5;
  }
  .flex-order-6-xl {
    order: 6;
  }
  *[class^=flex].flex-column > .col-xl-12 {
    -ms-flex: 1 1 100%;
  }
  *[class^=flex].flex-column > .col-xl-11 {
    -ms-flex: 1 1 91.66666667%;
  }
  *[class^=flex].flex-column > .col-xl-10 {
    -ms-flex: 1 1 83.33333333%;
  }
  *[class^=flex].flex-column > .col-xl-9 {
    -ms-flex: 1 1 75%;
  }
  *[class^=flex].flex-column > .col-xl-8 {
    -ms-flex: 1 1 66.66666667%;
  }
  *[class^=flex].flex-column > .col-xl-7 {
    -ms-flex: 1 1 58.33333333%;
  }
  *[class^=flex].flex-column > .col-xl-6 {
    -ms-flex: 1 1 50%;
  }
  *[class^=flex].flex-column > .col-xl-5 {
    -ms-flex: 1 1 41.66666667%;
  }
  *[class^=flex].flex-column > .col-xl-4 {
    -ms-flex: 1 1 33.33333333%;
  }
  *[class^=flex].flex-column > .col-xl-3 {
    -ms-flex: 1 1 25%;
  }
  *[class^=flex].flex-column > .col-xl-2 {
    -ms-flex: 1 1 16.66666667%;
  }
  *[class^=flex].flex-column > .col-xl-1 {
    -ms-flex: 1 1 8.33333333%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
}/*# sourceMappingURL=layout.css.map */