$primaryColor: #f8f8f5;
#bioPage {
    background-color: #000000;
    background-image: url('../../images/chef_16x9_center_1600x900.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    // aspect-ratio: 16 / 9;
    .navBar { background-color: #f5f3f3;}
    #carouselSec{
        height: calc(100vh - 14vh);
        min-height: 550px;
        background-color: #f5f3f3;
        .carouselContainer {
            height: calc(100% - 20px);
            justify-content: center;
            width: calc(100% - 40px);
            #carousel {
                align-items: center;
                height: 100%;
                max-width: 1500px;
                min-width: 900px;
                min-height: 550px;
                width: 100%;
                .singleCarouselSlide {
                    box-shadow: 6px 6px 6px #aeaeae;
                    height: 100%;
                    min-height: 480px;
                    position: relative;
                    width: 100%;
                   
                    #slideDescription {
                        color: #FFFFFF;
                        min-height: 480px;
                        width: 40%;
                        i {
                            cursor: pointer;
                            font-size: 68px !important;
                            &:hover {
                                font-size: 65px !important;
                                text-shadow: 3px 0px 2px var(--secondaryColor);
                            }
                            &:active {
                                font-size: 68px !important;
                                text-shadow: 0px 0px 0px var(--secondaryColor);
                            }
                        }
                        #prevSlide {
                            position: absolute;
                            top: 10px;
                        }
                        #nextSlide {
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                    #slidePic {
                        display: flex;
                        position: relative;
                        width: 70%;
                        p {
                            bottom: 20px;
                            color: $primaryColor;
                            font-size: 25px;
                            font-weight: 600;
                            position: absolute;
                            right: 20px;
                        }
                        #picNote {
                            background-color: #00000093;
                            font-size: 20px !important;
                            padding: 0px 10px;
                            text-shadow: 
                            1px 1px 2px #000,
                            -1px -1px 2px #000,
                             1px -1px 2px #000,
                            -1px  1px 2px #000;
                            &:not(.note_0) { opacity: 0; }
                            transition: opacity 1s ease;
                            &.darker { opacity: 1 !important; }
                        }
                    }
                    #slideImg{
                        min-height: 480px;
                        object-fit: cover !important;
                        object-position:center !important;
                        transition: width 0.3s ease-in-out;
                        width: 0%;
                    }
                    #slideText {
                        font-size: 18px;
                        letter-spacing: 0.03em;
                        line-height: 30px;
                        font-weight: 400;
                        scale: 0.5;
                        transition: scale 0.4s ease-in-out;
                    }
                }
            }
            #timeline{
                position: relative;
                padding-left: 40px;
                #lineWhite{
                    position: absolute;
                    background-color: var(--secondaryColor);
                    width: 1px;
                    left: calc(50% + 20px);
                }
                #circleWhite{
                    background-color: #ffffff;
                    height: 20px;
                    width: 20px;
                    border-radius: 10px;
                    left: calc(50% + 10px);
                    position: absolute;
                    opacity: 0;
                    transition: transform 0.5s ease;
                    &.position_0{
                        transform: translateY(0%);
                        opacity: 1;
                    }
        
                    &:not(.circle_0).moveDown{ transform: translateY(-1150%); }
                    &:not(.circle_6).moveUp{ transform: translateY(1150%); }
                }
            }
        }
    }
    #pageTransition {
        height: 100vh;
        display: flex;
        >div {

            img {
                border-radius: 10px;
                // box-shadow:  6px 6px 6px var(--secondaryColor);
                width: calc(100% - 200px);
                // padding: 50px;
                max-width: 780px;
                scale: 0.5;
                transition: all .5s ease;
                object-fit: contain;
                &.in-view {
                    scale: 1;
                }
            }
        }
    }
    #valueSec {
        background-color: #ffffff;
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 96%);
        padding: 100px 40px;
        position: relative;
        // border-top: 4px solid var(--secondaryColor);
        &::before {
            content: "";
            position: absolute;
            inset: 0;                  /* full size of the section */
            background: #b59b00;       /* stripe color */
            /* draw a thin band that matches the top angle (12px thick) */
            clip-path: polygon(0 0, 100% 4%, 100% calc(4% + 4px), 0 4px);
            z-index: 0;
            pointer-events: none;          
        }
        #cardsIntro {
            background-color: #fbfbfb;
            // background-color: #ffffff;
            box-shadow: 6px 6px 6px #d8d8d89a;
            text-align: justify;
        }
        #cardsContainer {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: start;
            width: 100%;
            position: relative;
            flex-wrap: wrap;
            min-height: 95vh;
            .singleCard {
                background-color: #fbfbfb;
                box-shadow: 6px 6px 6px #d8d8d89a;
                margin-top: 10%;
                margin-left: 0%;
                padding: 20px;
                transition: all .2s ease;
                width: 90%;
                flex: auto;
                &:nth-child(2) {
                    justify-self: end;
                    align-self: flex-end;
                    flex-direction: row-reverse;
                }
                &.in-view {
                    margin-top: 0%;
                    margin-left: 0%;
                }
                img {
                    aspect-ratio: 1.1/1;
                    max-width: 100%;
                    max-height: 350px;
                    object-fit: cover;
                    object-position: center 45%;
                }
                .cardDescr {
                    font-family: 'Ledger';
                    // font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    .cardText {
                        font-size: clamp(16px, calc(14.67px + 0.37vw), 20px);

                    }
                }
            }
        }
    }
    //   clamp(MIN, PREFERRED, MAX)
    #careerHighlightsSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
        padding: 150px 40px 0px 40px;
        background-color: #000;
        margin-top: -70px;
        .careerHighlightsWrapper {
            background-color: #ffffff;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Timeline layout */
            .timeline {
                // background-color: #f5f5f5;
                // border: 1px solid var(--secondaryColor);
                border: 1px solid #f1f1f1;
                background-color: #ffffff;
                box-shadow: 6px 6px 6px #d8d8d89a;
                display: grid;
                grid-template-columns: 150px 1fr; /* year column / events column */
    
                .timeline__year {
                    color: var(--secondaryColor);
                    font-weight: 700;
                    font-size: clamp(1.1rem, 2.2vw, 1.4rem);
                    line-height: 1.2;
                    position: relative;
                    text-align: center;
                    &.bgEven {
                        background-color: #f5f3f3;
                    }
                }
                .timeline__label {
                    color: var(--secondaryColor);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.2;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                    &.bgEven {
                        background-color: #f5f3f3;
                    }
                }
                .timeline__events {
                    border-left: 2px solid var(--secondaryColor);
                    position: relative;
                    padding-left: 18px;
                    &.bgEven {
                        background-color: #f5f3f3;
                    }
                    .event {
                        background: rgba(0,0,0,0); /* keep transparent; change if you want pills */
                        // margin: .35rem 0;
                        position: relative;
                        font-size: 18px;
                        letter-spacing: 0.01em;
                        line-height: 30px;
                        &::before{
                            background: var(--secondaryColor);
                            border: 1px solid var(--secondaryColor);
                            border-radius: 50%;
                            content: "";
                            position: absolute;
                            height: 10px;
                            left: -25px;
                            top: calc(50% - 5px);
                            width: 10px;
                        }
                        &:hover {
                            outline: none;
                            text-shadow: 0.5px 0.5px 1.5px var(--secondaryColor);
                        }
                    }
                }
            }
        }
            
            
        /* Mobile: stack */
        @media (max-width: 720px){
            .timeline{
                grid-template-columns: 5rem 1fr;
            }
        }
    }
      
    footer {
        background-color: #000;
        box-sizing: border-box;
        height: fit-content;
    }
      
    .maxWidth1500 {
        max-width: 1500px !important;
    }
    
    .slidePic {
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    // section#career-highlights{
    //     background-color: #2F2F2F;
    //     .highlights{
    //         padding: 25px 25px 25px 25px;
    //         list-style: none;   
    //         ::marker{
    //             color: var(--secondaryColor) !important;
    //         }
    //         li{
    //             width: fit-content;
    //             font-weight: 600;
    //             color: #000;
    //             border: 1px solid #2F2F2F;
    //             background-color: #ffffff;
    //             position: relative;
    //             transition: background-color .4s ease;
    //             z-index: 10;
    //             &::before{
    //                 content: '';
    //                 background-color: var(--secondaryColor);
    //                 display: flex;
    //                 position: absolute;
    //                 left: -10px;
    //                 bottom: 0px;
    //                 height: 100%;
    //                 width: 10px;
    //                 transition: all .3s ease;
    //             }
    //             &:hover{
    //                 z-index: 33; 
    //                 font-weight: 600;
    //                 &::before{
    //                     z-index: -1;
    //                     width: 100%;
    //                     left: 0px;
    //                     background-color: var(--secondaryColor);
                        
    //                 }
    
    //             }
    //         }
    //     }
    // }
    .animated-highlight { color: var(--secondaryColor) !important; }
}

@media only screen and (min-width: 930px) and (max-width: 1170px) {
    .singleCarouselSlide {
        width: 100% !important;
    }
    #slide_2,#slide_3,#slide_4,#slide_6 {
        #slideText{
            padding: 15px !important;
            p {
                font-size: 15px !important;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    #cardsContainer { width: 95% !important;}
 
}
@media only screen and (min-width: 701px) and (max-width: 930px) {
    body{
        width: 100% !important;
        position: relative;
    }

    section{
        width: 95% !important;
        padding: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        &#valueSec{
            padding: 0px !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            width: 100%;
        }
        &#career-highlights{
            padding: 0px !important;
            width: 100% !important;
            li{
                font-size: 14px;
            }
            p{
                font-size: 16px !important;
                &.textGold{
                    font-size: 22px !important;
                }
            }
        }
        p{
            text-align: left;
            font-size: 16px !important;
            span.textGold{
                font-size: 22px !important;
            }
        }
    }
    #carouselSec{ 
        margin-top: 14vh !important;
        padding: 20px !important;
        width: 95% !important;
        >div {
            padding: 0px !important;
            p{
                text-align: left;
                font-size: 16px !important;
                span.textGold{
                    font-size: 22px !important;
                }
            }
        }
    
        #carousel{
            margin-top: 30px;
            min-width: 95% !important;
            max-height: 400px;
            min-height: 400px;
            .singleCarouselSlide{
                max-height: 400px;
                min-height: 400px;
                #timeline{
    
                    background-color:  #ffffff !important;
                    padding-left: 0px;
                    z-index: 15;
                    #lineWhite{
                        background-color: #ffffff !important;
                    }
                    #circleWhite{
                        background-color: #ffffff !important;
                    }
                }
                #slideDescription{
                    width: 100%;
                    min-width: 300px !important;
                    max-height: 400px;
                    min-height: 400px;
                    background-color:  #00000047 !important;
                    padding-left: 10px;
                    z-index: 11;
                    #slideText{
                        background-color: #000000a3;
                        padding: 10px !important;
                        font-size: 14px;
                    }
                    i{
                        font-size: 45px !important;
                    }
                    #nextSlide{
                        bottom: 2%;
    
                    }
                    #prevSlide{
                        top: 2%;
                    }
                }
                #slidePic{
                    position: absolute;
                    width: 100%;
                    img{
                        height: 400px !important;
                    }
                    #picNote{
                        display: none;
                    }
                }
            }
        }
    }
    .singleCard {

        img{
            width: 40%;
            min-width: 40%;
            max-width: 40%;
        }
        .cardDescr{
            padding: 20px !important;
            .cardText{
                margin-top: 10px !important;
                margin-bottom: 30px !important;
            } 
        }
    }
    #cardsContainer {
        width: 100% !important;
    }
    .cardsIntro{
        p.fontSize18{
            font-size: 16px !important;
        }
    }

}
@media only screen and (max-width: 700px) {
    .highlightsIntro, .valueIntro{
        text-align: justify;
    } 
    section{
        width: 88vw !important;
        padding: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        &#valueSec{
            padding: 0px !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        &#career-highlights{
            padding: 0px !important;
            width: 100% !important;
            li{
                font-size: 14px;
            }
            p{
                font-size: 16px !important;
                &.textGold{
                    font-size: 24px !important;
                }
            }
        }
        p{
            text-align: left;
            font-size: 16px !important;
        }
    }
    #carouselSec{ 
        margin-top: 20px !important;
        padding: 50px 20px 20px 20px !important;
        width: 100%;
        min-width: 330px;
        max-width: 400px !important;
        >div {
            padding: 0px !important;
            p{
                text-align: left;
                font-size: 16px !important;
                span.textGold{
                    margin-top: 20px !important;
                    font-size: 18px !important;
                }
            }
        }

        #carousel{
            margin-top: 30px;
            min-width: 370px !important;
            max-width: 400px !important;
            max-height: 400px;
            min-height: 400px;
            .singleCarouselSlide{
                max-height: 400px;
                min-height: 400px;
                #timeline{
    
                    background-color:  #ffffff !important;
                    padding-left: 0px;
                    z-index: 15;
                    #lineWhite{
                        background-color: #ffffff !important;
                    }
                    #circleWhite{
                        background-color: #ffffff !important;
                    }
                }
                #slideDescription{
                    width: 100%;
                    min-width: 300px !important;
                    max-height: 400px;
                    min-height: 400px;
                    background-color:  #00000047 !important;
                    padding-left: 10px;
                    z-index: 11;
                    #slideText{
                        background-color: #000000a3;
                        padding: 10px !important;
                        scale: 1;
                        p{
                            font-size: 14px !important;
                        }
                    }
                    i{
                        font-size: 45px !important;
                    }
                    #nextSlide{
                        bottom: 2%;

                    }
                    #prevSlide{
                        top: 2%;
                    }
                }
                #slidePic{
                    position: absolute;
                    width: 100%;
                    img{
                        height: 400px !important;
                        width: 100%;
                    }
                    #picNote{
                        display: none;
                    }
                }
            }
        }
    }
    .singleCard {
        flex-direction: column;
        &.reverse{
            flex-direction: column !important;
        }
        img{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }
    .cardDescr{
        padding: 0px !important;
        .cardText{
            margin-top: 10px !important;
            margin-bottom: 30px !important;
            text-align: justify;
            
        } 
    }
    #cardsContainer {
        width: 100% !important;
    }
    .cardsIntro{
        p.fontSize18{
            font-size: 16px !important;
        }
    }
}