@import '../settings/common_style/website_variables';
* {padding: 0px; margin: 0px;}
html {
    height: 100%;
    margin: 0;
	overflow-y: hidden;
}
body {
	height: 100vh;
	height: 100dvh;
	overflow-y: auto;
	position: relative; 
}
p {color: #000000 !important;}
.titlesChef {
	font-family: 'Prata';
	font-size: 40px;
	font-weight: 500;
	margin-left: 15px;
	position: relative;
	width: fit-content;
	z-index: 5;
	letter-spacing: 0.03em;
	&::before {
		content: "";
		background-color: var(--secondaryColor);
		bottom: 5px;
		height: calc(100% - 10px);
		left: -25px;
		opacity: 0.5;
		position: absolute;
		width: calc(100%);
		z-index: -1;
	}
}
#homePage {
	background: url('../../images/servicesBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	#landingMenu { z-index: 5; }
	.navBar.biggerScreen {
		padding-bottom: 0vh;
		padding-top: 0vh;
	}
	#landingSection{
		// background-color: #00000003;
		// height: 100vh;
			// height: 100dvh;
		// position: relative;
		// #landingPicBox {
		// 	background-color: #00000003;
		// 	height: 100%;
		// 	// width: 55%;
		// 	#heroLandingVideo {
		// 		height: 100%;

		// 	}
		// 	#videoOverlay {
		// 		position: absolute;
		// 		inset: 0;
		// 		background: rgba(0,0,0,0.5); /* adjust 0.5 to darker/lighter */
		// 		z-index: 5;                  /* above video, below menu/logo */
		// 		pointer-events: none;         /* doesn't block clicks */
		// 	}
		// 	img {
		// 		box-sizing: border-box;
		// 		height: 100%;
		// 		aspect-ratio: 1/1;
		// 		object-fit: cover;
		// 		object-position: center;
		// 		opacity: 2;
		// 		transition: all 2.5s ease;
		// 		&.in-view {
		// 			border-radius: 0px;
		// 			opacity: 2;
		// 		}
		// 	}
		// }
		position: relative;
		min-height: 100vh;
		min-height: 100dvh; // use min-height so content can grow
		overflow: hidden;

		#landingPicBox {
			position: relative;
			z-index: 0; // base layer
			width: 50vw;
			height: 100vh;
			height: 100dvh;

			#heroLandingVideo {
				position: absolute;
				height: 85vh;
				aspect-ratio: 1 / 1.2;
				-o-object-fit: contain;
				object-fit: cover;
				z-index: 1;
				top: 7.5vh;
				left: 50%;
				border-radius: 4px;
				filter:sepia(0.3);
			}
		}
		#heroLandingVideoBG {
			position: absolute;
			inset: 0;
			width: 100vw;
			height: 100vh;
			height: 100dvh;
			background-color: #00000080;
			z-index: 2;
		}
		img#logoLanding {
			height: 135px;
			position: absolute;
			top: 10%;
			right: 5%;
			z-index: 20;
		}
		img#signatureLanding {
			width: 65%;
			position: absolute;
			bottom: 2%;
			right: 20%;
			z-index: 20;
			transform: skewY(357deg) rotateY(35deg);
		}
	
	}
	.linkContainer {
		align-items: end;
		font: var( --navFont);
		justify-content: right !important;
		width: fit-content;
		&.homePageLinks {
			position: absolute;
			z-index: 10;
			right: 0px;
			top: 40%;
			a:not(.socialLinks) {
				background-color: #ffffff;
				color: #000;
				letter-spacing: 0.07em;
				margin-right: 0px;
				max-width: 400px;
				padding: 5px 10px;
				position: relative;
				text-align: end;
				text-decoration: none !important;
				text-transform: uppercase;
				width: fit-content;
				z-index: 0;
				&:not(:last-child) { margin-bottom: 8px; }
				&#bioLink {	width: 200px; }
				&#servicesLink { width: 135px; }
				&#chefTLink { width: 285px; }
				&#contactLink {	width: 175px; }
				&:hover, &:active{
					text-shadow: #000;
					color: #ffffff;
				}
				&::before{
					background-color: var(--secondaryColor);
					border-radius: 0px;
					bottom: 0% ;
					content: '';
					height: 100%;
					left: 0%;
					pointer-events: none;
					position: absolute;
					transition: width 0.2s ease, height 0.1s ease;
					width: 3px;
					z-index: -1;
				}
				&:hover::before { width: 100%; }
				&:active {
					text-shadow: 0px 0px 10px #ffffff;
					&::before {
						height: 100%;
						bottom: 0%; 
						border-radius: 0;
					}
				}
			}
			a.socialLinks {
				color: #C3C3C3;
				margin-top: 20px;
				margin-right: 20px;
				font-size: 22px;
				&:hover {
					color: var(--secondaryColor);
				}
			}
		}
	}

	.middlePic{
		background-color: #000000;
		.middleImgWrapper {
			background-color: #ffffff;
			border: 3px solid var(--secondaryColor);
			gap: 15px;
			width: 70%;
			img {
				aspect-ratio: 1/.9;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
	.bioLandingPicContainer {
		box-sizing: border-box;
		display: flex;
		height: 80vh;
		justify-content: center;
		min-height: 550px;
		max-height: 700px;
		padding: 30px 50px; 
		width: 100%;
		.bioLandingTextWrapper {
			display: flex;
			flex-direction: column;
			font-family: var(--body-App-fontFamily);
			font-size: 20px;
			font-weight: 400;
			justify-content: center;
			letter-spacing: 0.05px;
			line-height: 34px;
			text-align: left;
			&.homePageTextWrapper {
				border: 1px solid var(--secondaryColor);
				height: fit-content;
				padding: 30px;
				position: relative;
				width: 45%;
				.btnPrimary {
					bottom: -22px;
					position: absolute;
					right: 40px;
				}
			}
		}
	}
	.animatedPicWrapper {
		height: 100%;
		width: 550px;
		padding: 30px;
		.picSubWr {
			position: relative;
			height: 100%;
			&::after {
				content: '';
				height: 70%;
				width: 5px;
				background-color: var(--secondaryColor);
				position: absolute;
				right: -25px;
				top: 15%;
				margin: 0px 30px;
			}
			
			&::before {
				content: '';
				height: 70%;
				width: 5px;
				margin: 0px 30px;
				background-color: var(--secondaryColor);
				position: absolute;
				left: -25px;
				top: 15%;
			}
			img {
				aspect-ratio: 1/1.15;
				width: 37%;
				object-fit: cover;
				object-position: center;
				opacity: 0;
				position: absolute;
				scale: 0.5;
				transition: all 0.5s ease;
				&#pic1 {
					right: 30%;
					top: 0;
					transition-delay: 0s;
					z-index: 4;
				}
				&#pic2 {
					right: 47px;
					top: 35%;
					transition-delay: 0.2s;
					z-index: 3;
				}
				&#pic3 {
					left: 27%;
					bottom: 0%;
					transition-delay: 0.5s;
					z-index: 2;
				}
				&#pic4 {
					left: 0px;
					bottom: 35%;
					transition-delay: 0.8s;
					z-index: 1;
				}
				&.in-view {
					opacity: 1;
					scale: 1;
				}
			}
		}
	}

	#bioSection {
		background-color: #ffffff;
		.bioImgContainer {
			min-width: 35%;
			position: relative;
			img {
				aspect-ratio: 1/1.1;
				bottom: -20%;
				height: 120%;
				object-fit: cover;
				object-position: center;
				opacity: 0;
				position: absolute;
				scale: 0.5;
				transition: all 0.5s ease;
				&#bioChefImg {
					aspect-ratio: 1/1.3;
					border: 1px solid #ffffff;
					border-radius: 20px;
					transition-delay: 0s;
					z-index: 4;
				}
				&.in-view{
					opacity: 1;
					scale: 1;
				}
			}
		}
		#bioTextContainer {
			margin-right: -0px;
			width: 50%;
			z-index: 10;
			position: relative;
			#logoBtnWrapper {
				.btnPrimary {
					width: fit-content;
					margin-right: 15%;
				}
				img#logoMidPage {
					aspect-ratio: 1/2;
					height: 126px;
					left: -100px;
					width: 215px;
				}
			}
		}
	}
	#servicesSection {
		background-color: transparent;
		height: 75vh;
		#servicesSectionTextContainer { color: #ffffff; }
		.picSubWr::before { width: 0px; margin: 0px !important;}
	}
	#chefTableSec {
		background-color: #ffffff;
		height: 75vh;
		.picSubWr {
			&::after { width: 0px; margin: 0px;}
			#pic1 { left: 40% !important; }
			#pic2 { left: 65% !important; }
			#pic3 { left: 35% !important; }
			#pic4 { left: 40px !important; }
		}
	}
	footer { background-color: transparent; }
}

#bobbyFlay{
	position: fixed;
	top: 0%;
	height: 100%;
	min-width: 100%;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2f2f2fca;
	pointer-events: none;
	#bobbyFlayDiv{
		#closingPopup{
			pointer-events: all !important;
			position: absolute;
			right: 10px;
			top: 10px;
			&::before{
				font-size: 35px !important;
				color: #2b2b2b;
			}
			&:hover{
				scale: 1.1;
			}
		}
		cursor: pointer;
		border: 10px solid #ffffff;
		height: 95%;
		width: 65%;
		max-width: 680px;
		max-height: 910px;
		background-image: url('./../../images/niko_bobbyflay_pic.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: grid;
		position: relative;
		#highlightsBob{
			display: flex;
			width: 70%;
			align-items: center;
			position: absolute;
			bottom: 15px;
			justify-content: center;
			border-radius: 20px;
			background-color: #2F2F2F;
			color: #C3C3C3;
			padding: 10px;
			justify-self: center;
			// pointer-events: all !important;
			p{
				color: #C3C3C3 !important;
			}
			i::before{
				color: #bf1f2f;
				font-size: 25px;
				
			}
		}
		#clickToPics{
			background-color: #bf1f2f;
			border: none;
			color: #C3C3C3;
			font-weight: bold;
			padding: 5px;
			font-size: 22px;
			pointer-events: all !important;
			cursor: pointer;
			&:hover{
				filter: brightness(0.9);
				scale: 1.05;
			}
		}
		#logoCont{
			width: 100%;
			height: 50%;
			position: absolute;
			top: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			#nikoForPopup{
				background-image: url("./../../images/NikoPopUp2.png");
				height: 35%;
				width: 100%;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				// width: 200px;
				justify-self: center;
			}
			#bobbyFlayLogo{
				background-image: url("./../../images/bfimagetrace.svg");
				height: 60%;
				width: 100%;
				margin-top: 10px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				// width: 200px;
				justify-self: center;
			}
		}

	}
}

// Break Points 
/* Mobile Small */
@media only screen and (max-width: 1000px) {
  /* styles for small phones */
  	#homePage {
		#landingMenu { display: none; }
		#landingSection{
			position: relative;
			min-height: 100vh;
			min-height: 100dvh;
			overflow: hidden;

			#landingPicBox {
				width: 100vw;
				height: 100vh;
				height: 100dvh;
				#heroLandingVideo {
					height: 100vh;
					height: 100dvh;
					width: 100vw;
					top: 0vh;
					left: 0%;
					border-radius: 0px;
				}
			}
			img#logoLanding {
				display: none;
				height: 135px;
				position: absolute;
				top: 10%;
				right: 5%;
				z-index: 20;
			}
			img#signatureLanding {
				width: 100vw;
				bottom: 15%;
				right: 0%;
			}
		
		}

		.middlePic{
			.middleImgWrapper {
				border: 1px solid var(--secondaryColor);
				gap: 0px;
				padding: 0px !important;
				width: 100%;

				img {
					aspect-ratio: 1/1;
					padding: 5px;
					&:nth-child(2) {
						padding-left: 0px !important;
						padding-right: 0px !important;
					}
				}
			}
		}
		.bioLandingPicContainer {
			box-sizing: border-box;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-around !important;
			gap: 50px;
			height: fit-content !important;
			min-height: fit-content !important;
			max-height: fit-content !important;
			padding: 50px 5px; 
			max-width: 100% !important;
			.bioLandingTextWrapper {
				display: flex;
				flex-direction: column;
				font-size: 16px;
				letter-spacing: 0.05px;
				line-height: 25px;
				padding-bottom: 25px !important;
				.titlesChef  {
					font-size: 30px !important;
				}
				&.homePageTextWrapper {
					border: 1px solid var(--secondaryColor);
					height: fit-content;
					padding: 10px;
					position: relative;
					width: 100%;
					.textBioLanding {
						font-size: 16px;
						line-height: 26px;
						letter-spacing: 0.03em;
					}
					.btnPrimary {
						bottom: -22px;
						position: absolute;
						right: 40px;
						font-size: 16px;
					}
				}
			}
			.animatedPicWrapper {
				height: fit-content;
				width: 100%;
				padding: 0px;
				border: 1px solid var(--secondaryColor);
				.picSubWr {
					position: relative;
					height: fit-content;
					display: flex;
					padding: 5px;
					// background-color: #ffffff;
					&::after { display: none; }
					&::before {	display: none; }
					img {
						aspect-ratio: 1/1;
						width: 25%;
						object-fit: cover;
						object-position: center;
						opacity: 0;
						padding: 5px;
						position: relative !important;
						scale: 0.5;
						transition: all 0.5s ease;
						&#pic1 {
							right: auto;
							top: 0%;
						}
						&#pic2 {
							right: auto;
							top: 0%;
						}
						&#pic3 {
							left: auto;
							bottom: 0%;
						}
						&#pic4 {
							left: auto;
							bottom: 0%;
						}
						&.in-view {
							opacity: 1;
							scale: 1;
						}
					}
				}
			}
		}

		#bioSection {
			background-color: #ffffff;
			display: flex;
			flex-direction: column;
			min-height: fit-content;
			padding: 0px !important;
			gap: 0px;
			.bioImgContainer {
				position: relative;
				min-height: fit-content;
				display: flex;
				img {
					height: fit-content;
					bottom: 0px !important;
					// width: 100%;
					opacity: 0;
					position: relative !important;
					scale: .9;
					transition: all 0.5s ease;
					&#bioChefImg {
						aspect-ratio: 1.5/1;
						border: 0px solid;
						border-radius: 0px;
						transition-delay: 0s;
						z-index: 4;
						width: 100%;
						height: auto;
					}
					&.in-view{
						opacity: 1;
						scale: 1;
					}
				}
			}
			#bioTextContainer {
				width: 100%;
				z-index: 10;
				position: relative;
				padding: 20px !important;
				.titlesChef  { display: none; }
				#logoBtnWrapper {
					flex-direction: column-reverse;
					gap: 10px;
					.btnPrimary {
						width: fit-content;
						margin-right: 0%;
						font-size: 16px;
						align-self: flex-end;
					}
					img#logoMidPage {
						aspect-ratio: inherit;
						height: auto;
						left: 0px;
						width: 50%;
					}
				}

			}
		}
		#servicesSection {
			background-color: transparent;
			height: fit-content;
			#servicesSectionTextContainer { color: #ffffff; }
			.picSubWr::before { width: 0px; margin: 0px !important;}
		}
		#chefTableSec {
			background-color: #ffffff;
			height: fit-content;
			flex-direction: column !important;
			.picSubWr {
				&::after { width: 0px; margin: 0px;}
				#pic1 { left: auto !important; }
				#pic2 { left: auto !important; }
				#pic3 { left: auto !important; }
				#pic4 { left: auto !important; }
			}
		}
        footer { 
            flex-direction: column-reverse;
            position: relative;
            padding-top: 25px !important;
            padding-bottom: 40px !important;
            width: 100%;
            height: fit-content;
            gap: 30px;
            img {
                width: 70%;
                height: auto !important;
            }
            #webcraftLink {
                position: absolute;
                bottom: 20px;
                font-size: 14px !important;
            }
            
        }
	}
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* styles for tablets */
}

/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* styles for laptops and standard desktops */
}

/* Large Desktop */
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* styles for large desktop screens */
}

/* Ultra-wide Screens */
@media only screen and (min-width: 1920px) {
  /* styles for 2K and 4K screens */
}