:root {
  --primary-font-color: #000000;
  --page-primary-backgroung: #d5daf6;
  --white-text: #ffffff;
  /*==== GENERAL ====*/
  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 30px;
  --padding-xl: 40px;
  --h-100: 100;
  /*==== NAVIGATION BAR ====*/
  --navbar-height: 75px;
  --navbar-background: #1d364c;
  --navbar-color: #ffffff;
  --navbar-fontsize: 22px;
  --navbar-fontsize-smMenu: 25px;
  --navbar-fontFamily: "Merriweather";
  --navbar-fontWeight: 600;
  --navbar-before-color: #CDAA7F;
  /*==== BODY ====*/
  --body-App-fontFamily: "Inter";
  /*==== FOOTER ====*/
  --footer-height: 60px;
  --navBackGroundColor: #ffffff00;
  --navBarTextColor: #000;
  --navBtnBackGround: #C4B980;
  --navBtnBackGroundDK: #000;
  --navFont: normal normal 500 20px var(--navbar-fontFamily);
  --primaryColor: #897400;
  --primaryColorLight: #00000090;
  --secondaryColor: #b19e47;
  --secondaryColorTran: #b9970034;
  --darkBlueColor: #1e293b;
  --backgroundV1: linear-gradient(180deg, var(--darkBlueColor), #000000);
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

body {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  position: relative;
}

p {
  color: #000000 !important;
}

.titlesChef {
  font-family: "Prata";
  font-size: 40px;
  font-weight: 500;
  margin-left: 15px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
  letter-spacing: 0.03em;
}
.titlesChef::before {
  content: "";
  background-color: var(--secondaryColor);
  bottom: 5px;
  height: calc(100% - 10px);
  left: -25px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#homePage {
  background: url("../../images/servicesBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#homePage #landingMenu {
  z-index: 5;
}
#homePage .navBar.biggerScreen {
  padding-bottom: 0vh;
  padding-top: 0vh;
}
#homePage #landingSection {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
}
#homePage #landingSection #landingPicBox {
  position: relative;
  z-index: 0;
  width: 50vw;
  height: 100vh;
  height: 100dvh;
}
#homePage #landingSection #landingPicBox #heroLandingVideo {
  position: absolute;
  height: 85vh;
  aspect-ratio: 1/1.2;
  -o-object-fit: contain;
  object-fit: cover;
  z-index: 1;
  top: 7.5vh;
  left: 50%;
  border-radius: 4px;
  filter: sepia(0.3);
}
#homePage #landingSection #heroLandingVideoBG {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 2;
}
#homePage #landingSection img#logoLanding {
  height: 135px;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 20;
}
#homePage #landingSection img#signatureLanding {
  width: 65%;
  position: absolute;
  bottom: 2%;
  right: 20%;
  z-index: 20;
  transform: skewY(357deg) rotateY(35deg);
}
#homePage .linkContainer {
  align-items: end;
  font: var(--navFont);
  justify-content: right !important;
  width: -moz-fit-content;
  width: fit-content;
}
#homePage .linkContainer.homePageLinks {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 40%;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks) {
  background-color: #ffffff;
  color: #000;
  letter-spacing: 0.07em;
  margin-right: 0px;
  max-width: 400px;
  padding: 5px 10px;
  position: relative;
  text-align: end;
  text-decoration: none !important;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):not(:last-child) {
  margin-bottom: 8px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#bioLink {
  width: 200px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#servicesLink {
  width: 135px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#chefTLink {
  width: 285px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#contactLink {
  width: 175px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):hover, #homePage .linkContainer.homePageLinks a:not(.socialLinks):active {
  text-shadow: #000;
  color: #ffffff;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)::before {
  background-color: var(--secondaryColor);
  border-radius: 0px;
  bottom: 0%;
  content: "";
  height: 100%;
  left: 0%;
  pointer-events: none;
  position: absolute;
  transition: width 0.2s ease, height 0.1s ease;
  width: 3px;
  z-index: -1;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):hover::before {
  width: 100%;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):active {
  text-shadow: 0px 0px 10px #ffffff;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):active::before {
  height: 100%;
  bottom: 0%;
  border-radius: 0;
}
#homePage .linkContainer.homePageLinks a.socialLinks {
  color: #C3C3C3;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 22px;
}
#homePage .linkContainer.homePageLinks a.socialLinks:hover {
  color: var(--secondaryColor);
}
#homePage .middlePic {
  background-color: #000000;
}
#homePage .middlePic .middleImgWrapper {
  background-color: #ffffff;
  border: 3px solid var(--secondaryColor);
  gap: 15px;
  width: 70%;
}
#homePage .middlePic .middleImgWrapper img {
  aspect-ratio: 1/0.9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#homePage .bioLandingPicContainer {
  box-sizing: border-box;
  display: flex;
  height: 80vh;
  justify-content: center;
  min-height: 550px;
  max-height: 700px;
  padding: 30px 50px;
  width: 100%;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--body-App-fontFamily);
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05px;
  line-height: 34px;
  text-align: left;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper {
  border: 1px solid var(--secondaryColor);
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  position: relative;
  width: 45%;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper .btnPrimary {
  bottom: -22px;
  position: absolute;
  right: 40px;
}
#homePage .animatedPicWrapper {
  height: 100%;
  width: 550px;
  padding: 30px;
}
#homePage .animatedPicWrapper .picSubWr {
  position: relative;
  height: 100%;
}
#homePage .animatedPicWrapper .picSubWr::after {
  content: "";
  height: 70%;
  width: 5px;
  background-color: var(--secondaryColor);
  position: absolute;
  right: -25px;
  top: 15%;
  margin: 0px 30px;
}
#homePage .animatedPicWrapper .picSubWr::before {
  content: "";
  height: 70%;
  width: 5px;
  margin: 0px 30px;
  background-color: var(--secondaryColor);
  position: absolute;
  left: -25px;
  top: 15%;
}
#homePage .animatedPicWrapper .picSubWr img {
  aspect-ratio: 1/1.15;
  width: 37%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  position: absolute;
  scale: 0.5;
  transition: all 0.5s ease;
}
#homePage .animatedPicWrapper .picSubWr img#pic1 {
  right: 30%;
  top: 0;
  transition-delay: 0s;
  z-index: 4;
}
#homePage .animatedPicWrapper .picSubWr img#pic2 {
  right: 47px;
  top: 35%;
  transition-delay: 0.2s;
  z-index: 3;
}
#homePage .animatedPicWrapper .picSubWr img#pic3 {
  left: 27%;
  bottom: 0%;
  transition-delay: 0.5s;
  z-index: 2;
}
#homePage .animatedPicWrapper .picSubWr img#pic4 {
  left: 0px;
  bottom: 35%;
  transition-delay: 0.8s;
  z-index: 1;
}
#homePage .animatedPicWrapper .picSubWr img.in-view {
  opacity: 1;
  scale: 1;
}
#homePage #bioSection {
  background-color: #ffffff;
}
#homePage #bioSection .bioImgContainer {
  min-width: 35%;
  position: relative;
}
#homePage #bioSection .bioImgContainer img {
  aspect-ratio: 1/1.1;
  bottom: -20%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  position: absolute;
  scale: 0.5;
  transition: all 0.5s ease;
}
#homePage #bioSection .bioImgContainer img#bioChefImg {
  aspect-ratio: 1/1.3;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition-delay: 0s;
  z-index: 4;
}
#homePage #bioSection .bioImgContainer img.in-view {
  opacity: 1;
  scale: 1;
}
#homePage #bioSection #bioTextContainer {
  margin-right: 0px;
  width: 50%;
  z-index: 10;
  position: relative;
}
#homePage #bioSection #bioTextContainer #logoBtnWrapper .btnPrimary {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15%;
}
#homePage #bioSection #bioTextContainer #logoBtnWrapper img#logoMidPage {
  aspect-ratio: 1/2;
  height: 126px;
  left: -100px;
  width: 215px;
}
#homePage #servicesSection {
  background-color: transparent;
  height: 75vh;
}
#homePage #servicesSection #servicesSectionTextContainer {
  color: #ffffff;
}
#homePage #servicesSection .picSubWr::before {
  width: 0px;
  margin: 0px !important;
}
#homePage #chefTableSec {
  background-color: #ffffff;
  height: 75vh;
}
#homePage #chefTableSec .picSubWr::after {
  width: 0px;
  margin: 0px;
}
#homePage #chefTableSec .picSubWr #pic1 {
  left: 40% !important;
}
#homePage #chefTableSec .picSubWr #pic2 {
  left: 65% !important;
}
#homePage #chefTableSec .picSubWr #pic3 {
  left: 35% !important;
}
#homePage #chefTableSec .picSubWr #pic4 {
  left: 40px !important;
}
#homePage footer {
  background-color: transparent;
}

#bobbyFlay {
  position: fixed;
  top: 0%;
  height: 100%;
  min-width: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.7921568627);
  pointer-events: none;
}
#bobbyFlay #bobbyFlayDiv {
  cursor: pointer;
  border: 10px solid #ffffff;
  height: 95%;
  width: 65%;
  max-width: 680px;
  max-height: 910px;
  background-image: url("./../../images/niko_bobbyflay_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  position: relative;
}
#bobbyFlay #bobbyFlayDiv #closingPopup {
  pointer-events: all !important;
  position: absolute;
  right: 10px;
  top: 10px;
}
#bobbyFlay #bobbyFlayDiv #closingPopup::before {
  font-size: 35px !important;
  color: #2b2b2b;
}
#bobbyFlay #bobbyFlayDiv #closingPopup:hover {
  scale: 1.1;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob {
  display: flex;
  width: 70%;
  align-items: center;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  border-radius: 20px;
  background-color: #2F2F2F;
  color: #C3C3C3;
  padding: 10px;
  justify-self: center;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob p {
  color: #C3C3C3 !important;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob i::before {
  color: #bf1f2f;
  font-size: 25px;
}
#bobbyFlay #bobbyFlayDiv #clickToPics {
  background-color: #bf1f2f;
  border: none;
  color: #C3C3C3;
  font-weight: bold;
  padding: 5px;
  font-size: 22px;
  pointer-events: all !important;
  cursor: pointer;
}
#bobbyFlay #bobbyFlayDiv #clickToPics:hover {
  filter: brightness(0.9);
  scale: 1.05;
}
#bobbyFlay #bobbyFlayDiv #logoCont {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bobbyFlay #bobbyFlayDiv #logoCont #nikoForPopup {
  background-image: url("./../../images/NikoPopUp2.png");
  height: 35%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}
#bobbyFlay #bobbyFlayDiv #logoCont #bobbyFlayLogo {
  background-image: url("./../../images/bfimagetrace.svg");
  height: 60%;
  width: 100%;
  margin-top: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}

/* Mobile Small */
@media only screen and (max-width: 767px) {
  /* styles for small phones */
  #homePage #landingMenu {
    display: none;
  }
  #homePage #landingSection {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: hidden;
  }
  #homePage #landingSection #landingPicBox {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
  }
  #homePage #landingSection #landingPicBox #heroLandingVideo {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    top: 0vh;
    left: 0%;
    border-radius: 0px;
  }
  #homePage #landingSection img#logoLanding {
    display: none;
    height: 135px;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 20;
  }
  #homePage #landingSection img#signatureLanding {
    width: 100vw;
    bottom: 15%;
    right: 0%;
  }
  #homePage .middlePic .middleImgWrapper {
    border: 1px solid var(--secondaryColor);
    gap: 0px;
    padding: 0px !important;
    width: 100%;
  }
  #homePage .middlePic .middleImgWrapper img {
    aspect-ratio: 1/1;
    padding: 5px;
  }
  #homePage .middlePic .middleImgWrapper img:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #homePage .bioLandingPicContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around !important;
    gap: 50px;
    height: -moz-fit-content !important;
    height: fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    padding: 50px 5px;
    max-width: 100% !important;
  }
  #homePage .bioLandingPicContainer .bioLandingTextWrapper {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.05px;
    line-height: 25px;
    padding-bottom: 25px !important;
  }
  #homePage .bioLandingPicContainer .bioLandingTextWrapper .titlesChef {
    font-size: 30px !important;
  }
  #homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper {
    border: 1px solid var(--secondaryColor);
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  #homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper .textBioLanding {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
  #homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper .btnPrimary {
    bottom: -22px;
    position: absolute;
    right: 40px;
    font-size: 16px;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 0px;
    border: 1px solid var(--secondaryColor);
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    padding: 5px;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr::after {
    display: none;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr::before {
    display: none;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img {
    aspect-ratio: 1/1;
    width: 25%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    opacity: 0;
    padding: 5px;
    position: relative !important;
    scale: 0.5;
    transition: all 0.5s ease;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img#pic1 {
    right: auto;
    top: 0%;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img#pic2 {
    right: auto;
    top: 0%;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img#pic3 {
    left: auto;
    bottom: 0%;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img#pic4 {
    left: auto;
    bottom: 0%;
  }
  #homePage .bioLandingPicContainer .animatedPicWrapper .picSubWr img.in-view {
    opacity: 1;
    scale: 1;
  }
  #homePage #bioSection {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 0px !important;
    gap: 0px;
  }
  #homePage #bioSection .bioImgContainer {
    position: relative;
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: flex;
  }
  #homePage #bioSection .bioImgContainer img {
    height: -moz-fit-content;
    height: fit-content;
    bottom: 0px !important;
    opacity: 0;
    position: relative !important;
    scale: 0.9;
    transition: all 0.5s ease;
  }
  #homePage #bioSection .bioImgContainer img#bioChefImg {
    aspect-ratio: 1.5/1;
    border: 0px solid;
    border-radius: 0px;
    transition-delay: 0s;
    z-index: 4;
    width: 100%;
    height: auto;
  }
  #homePage #bioSection .bioImgContainer img.in-view {
    opacity: 1;
    scale: 1;
  }
  #homePage #bioSection #bioTextContainer {
    width: 100%;
    z-index: 10;
    position: relative;
    padding: 20px !important;
  }
  #homePage #bioSection #bioTextContainer .titlesChef {
    display: none;
  }
  #homePage #bioSection #bioTextContainer #logoBtnWrapper {
    flex-direction: column-reverse;
    gap: 10px;
  }
  #homePage #bioSection #bioTextContainer #logoBtnWrapper .btnPrimary {
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0%;
    font-size: 16px;
    align-self: flex-end;
  }
  #homePage #bioSection #bioTextContainer #logoBtnWrapper img#logoMidPage {
    aspect-ratio: inherit;
    height: auto;
    left: 0px;
    width: 50%;
  }
  #homePage #servicesSection {
    background-color: transparent;
    height: -moz-fit-content;
    height: fit-content;
  }
  #homePage #servicesSection #servicesSectionTextContainer {
    color: #ffffff;
  }
  #homePage #servicesSection .picSubWr::before {
    width: 0px;
    margin: 0px !important;
  }
  #homePage #chefTableSec {
    background-color: #ffffff;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column !important;
  }
  #homePage #chefTableSec .picSubWr::after {
    width: 0px;
    margin: 0px;
  }
  #homePage #chefTableSec .picSubWr #pic1 {
    left: auto !important;
  }
  #homePage #chefTableSec .picSubWr #pic2 {
    left: auto !important;
  }
  #homePage #chefTableSec .picSubWr #pic3 {
    left: auto !important;
  }
  #homePage #chefTableSec .picSubWr #pic4 {
    left: auto !important;
  }
  #homePage footer {
    background-color: transparent;
    position: relative;
    padding-bottom: 50px !important;
  }
  #homePage footer #webcraftLink {
    position: absolute;
    bottom: 10px;
    font-size: 14px !important;
  }
  #homePage footer img {
    height: 100%;
    width: auto;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* styles for tablets */
}
/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* styles for laptops and standard desktops */
}
/* Large Desktop */
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* styles for large desktop screens */
}
/* Ultra-wide Screens */
@media only screen and (min-width: 1920px) {
  /* styles for 2K and 4K screens */
}/*# sourceMappingURL=style.css.map */